body
	margin 0
	margin-top 10px
	font-family 'Open Sans', sans-serif
	font-size 14px
	
.clear
	clear both
	
.app
	width 800px
	margin auto
	
h2
	font-weight 300
	font-size 30px
	font-family 'Quicksand', sans-serif
	margin 0
	padding 0
	
input, textarea
	border 1px solid #CCC
	outline none !important
	font-size 12px
	padding 3px
	
select
	outline none !important

.divider
	width 100%
	height 5px
	background-color #E5E5E5
	margin 5px 0 20px
	.blip
		width 12%
		height 100%
		float right
		&.one
			background-color #008cff
		&.two
			background-color #FF1172
		&.tre
			background-color #99CC14	

table.grid
	width 100%
	border-spacing 0
	th
		font-weight 400
		text-align left
		border-bottom 1px solid #E5E5E5
		padding-bottom 10px
		color #CCC
	tbody tr
		cursor pointer
	td
		padding 5px 0
		border-bottom 1px solid #E5E5E5
		position relative
		.indicator
			position absolute
			bottom 0
			left 0
			height 3px
			width 55px
			&.status_fixed
				background-color #99CC14
			&.status_open
				background-color #FF1172
			&.status_regress
				background-color #008cff

.header
	position relative
	margin-bottom 50px
	ul.nav
		list-style none
		margin 0
		padding 0
		position absolute
		width 100%
		top 15px
		li
			float right
			width 12%
			text-align center
			cursor pointer
			&.one
				&:hover
					color #008cff
			&.two
				&:hover
					color #FF1172
			&.tre
				&:hover
					color #99CC14
					
.list
	.list_sort
		margin-bottom 20px
		height 40px
		label
			float left
			width 70px
		select
			float left
			width 90px
			margin-right 20px
		.search
			float right
			margin-top 0
			width 220px
			text-align right
			
.edit
	.back
		color #CCC
		margin-bottom 10px
		cursor pointer
		float left
		&:hover
			color #008cff
	h2
		margin-top 10px
		margin-bottom 20px
	input.status_title
		margin-bottom 30px
		width 79%
		float left
		font-weight 300
		font-size 30px
		font-family 'Quicksand', sans-serif
		border none
		&:hover
			border 1px solid #CCC
			margin-top: 0px
			margin-left -1px
	.edit_status
		float right
		width 15%
		margin-left 5%
		margin-top 20px
	.field
		float left
		width 50%
		label
			float left
			width 30%
			margin-bottom 20px
		select
			width 30%
	ol.steps
		margin 0
		margin-left 25px
		padding 0
		li
			margin-bottom 10px
	.add_step, .add_comment
		width 80%
		float left
		margin-bottom 20px
	.add
		width 15%
		margin-left 4%
		float left
		margin-top 3px
		cursor pointer
	textarea
		width 100%
		height 100px
	ul.history
		margin 0
		padding 0
		list-style none
		li
			margin-bottom 10px
			.icon
				width 40px
				height 40px
				background-color: rgba(0, 200, 250, 0.3);
				float left
				position relative
				img
					width 40px
					height 40px
					position absolute
					top 0
					left 0
					z-index 5
				&:after
					content ''
					position absolute
					bottom 0
					left 0
					height 4px
					width 100%
					z-index 10
				&.open:after
					background-color #FF1172
				&.fixed:after
					background-color #99CC14
				&.regress:after
					background-color #008cff
			.desc
				float left
				margin-left 10px
				margin-top 10px