body {
  margin: 0;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.clear {
  clear: both;
}
.app {
  width: 800px;
  margin: auto;
}
h2 {
  font-weight: 300;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}
input,
textarea {
  border: 1px solid #ccc;
  outline: none !important;
  font-size: 12px;
  padding: 3px;
}
select {
  outline: none !important;
}
.divider {
  width: 100%;
  height: 5px;
  background-color: #e5e5e5;
  margin: 5px 0 20px;
}
.divider .blip {
  width: 12%;
  height: 100%;
  float: right;
}
.divider .blip.one {
  background-color: #008cff;
}
.divider .blip.two {
  background-color: #ff1172;
}
.divider .blip.tre {
  background-color: #99cc14;
}
table.grid {
  width: 100%;
  border-spacing: 0;
}
table.grid th {
  font-weight: 400;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
  color: #ccc;
  cursor: pointer;
}
table.grid tbody tr {
  cursor: pointer;
}
table.grid td {
  padding: 5px 0;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
table.grid td .indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 55px;
}
table.grid td .indicator.status_fixed {
  background-color: #99cc14;
}
table.grid td .indicator.status_open {
  background-color: #ff1172;
}
table.grid td .indicator.status_regress {
  background-color: #008cff;
}
.header {
  position: relative;
  margin-bottom: 50px;
}
.header ul.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 15px;
}
.header ul.nav li {
  float: right;
  width: 12%;
  text-align: center;
  cursor: pointer;
}
.header ul.nav li.one:hover {
  color: #008cff;
}
.header ul.nav li.two:hover {
  color: #ff1172;
}
.header ul.nav li.tre:hover {
  color: #99cc14;
}
.list {
  position: relative;
}
.list .list_sort {
  margin-bottom: 40px;
  height: 40px;
}
.list .list_sort label {
  float: left;
  width: 70px;
  margin-bottom: 20px;
}
.list .list_sort select {
  float: left;
  width: 90px;
  margin-right: 20px;
}
.list .list_search {
  position: absolute;
  top: -3px;
  right: 0;
}
.list .list_search .search {
  width: 220px;
  text-align: right;
}
.edit {
  position: relative;
}
.edit .update {
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -70px;
  width: 140px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #99cc14;
  display: none;
}
.edit .back {
  color: #ccc;
  margin-bottom: 10px;
  cursor: pointer;
  float: left;
}
.edit .back:hover {
  color: #008cff;
}
.edit .delete {
  color: #ccc;
  cursor: pointer;
  float: right;
}
.edit .delete:hover {
  color: #ff1172;
}
.edit h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}
.edit input.status_title {
  margin-bottom: 30px;
  width: 79%;
  float: left;
  font-weight: 300;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  border: none;
}
.edit input.status_title:hover {
  border: 1px solid #ccc;
  margin-top: 0px;
  margin-left: -1px;
}
.edit .edit_status {
  float: right;
  width: 15%;
  margin-left: 5%;
  margin-top: 20px;
}
.edit .field {
  float: left;
  width: 50%;
}
.edit .field label {
  float: left;
  width: 30%;
  margin-bottom: 20px;
}
.edit .field select {
  width: 30%;
}
.edit ol.steps {
  margin: 0;
  margin-left: 25px;
  padding: 0;
}
.edit ol.steps li {
  margin-bottom: 10px;
}
.edit .add_step,
.edit .add_comment {
  width: 80%;
  float: left;
  margin-bottom: 20px;
}
.edit .add {
  width: 15%;
  margin-left: 4%;
  float: left;
  margin-top: 3px;
  cursor: pointer;
}
.edit textarea {
  width: 100%;
  height: 100px;
}
.edit ul.history {
  margin: 0;
  padding: 0;
  list-style: none;
}
.edit ul.history li {
  margin-bottom: 10px;
}
.edit ul.history li .icon {
  width: 40px;
  height: 40px;
  float: left;
  position: relative;
}
.edit ul.history li .icon img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.edit ul.history li .icon:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  z-index: 10;
}
.edit ul.history li .icon.open:after {
  background-color: #ff1172;
}
.edit ul.history li .icon.fixed:after {
  background-color: #99cc14;
}
.edit ul.history li .icon.regress:after {
  background-color: #008cff;
}
.edit ul.history li .desc {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  color: #777;
  float: right;
  width: 750px;
}
.edit ul.history li .desc .comment {
  margin-top: -5px;
  font-size: 18px;
  color: #000;
}
