body
	margin 0
	margin-top 10px
	font-family 'Open Sans', sans-serif
	font-size 14px
	
.app
	width 800px
	margin auto
	
h2
	font-weight 300
	font-size 30px
	font-family 'Quicksand', sans-serif
	margin 0
	padding 0

.divider
	width 100%
	height 5px
	background-color #E5E5E5
	margin 5px 0 20px
	.blip
		width 12%
		height 100%
		float right
		&.one
			background-color #008cff
		&.two
			background-color #FF1172
		&.tre
			background-color #99CC14
			
.header
	position relative
	margin-bottom 50px
	ul.nav
		list-style none
		margin 0
		padding 0
		position absolute
		width 100%
		top 15px
		li
			float right
			width 12%
			text-align center
			cursor pointer
			&.one
				&:hover
					color #008cff
			&.two
				&:hover
					color #FF1172
			&.tre
				&:hover
					color #99CC14